/* 
    Created on : Jun 27, 2022, 1:44:02 PM
    Author     : Apon
*/

.menu-top.toplevel_page_uttara-gadget img {
    max-width: 18px;
    opacity: 1 !important;
    filter: grayscale(100%);
}

.menu-top.toplevel_page_uttara-gadget.wp-has-current-submenu img,
.menu-top.toplevel_page_uttara-gadget:hover img {
    filter: grayscale(0%);
}


.uttg-p-btn {
    display: flex !important;
    margin-left: 15px !important;
    justify-content: center;
    align-items: center;
    line-height: 1 !important;
    padding: 0 10px 1px 10px !important;
    border-radius: 18px !important;
    min-width: 70px;
    border: 1px solid rgba(0, 0, 0, .5) !important;
    background: rgba(95, 234, 169, 0.43) !important;
    color: #484848 !important;
}

.pop-title {
    position: absolute;
    top: 0px;
    left: 30px;
}

.uttg-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.wp-heading-inline {
    display: flex !important;
}

/*BOX*/
.overview {
    display: flex;
    padding: 20px 20px;
    background: #f0f0f1;
    margin-bottom: 20px;
    position: absolute;
    width: calc(100% + 20px);
    left: -20px;
    top: 0;
    box-sizing: border-box;
}

.box .box-icon {
    padding: 20px;
    background: rgba(0, 0, 0, .1);
    color: #fff;
    width: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    flex-basis: 18%;
    background: #15afd2;
    display: flex;
    align-items: center;
    margin-right: 2%;
    flex-grow: 1;
}

.box:last-child {
    margin-right: 0;
}

.box-title {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.box-title .counter {
    font-size: 28px;
    color: #fff;
    display: block;
}

.box-title label {
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
}


/*Data List*/

.data-pagination {
    display: flex;
    margin-top: 10px;
}

.data-pagination a {
    padding: 4px 8px;
    margin-right: 5px;
    background: #ddd;
    text-decoration: none;
    border: 1px solid #979797;
    border-radius: 4px;
}

.data-pagination a.active {
    background: #2271b1;
    color: #fff;
    border-color: #0c406a;
}

/*Admin Invoice View*/

.invoice-logo {
    font-size: 25px;
    font-weight: bold;
}

.invoice-address {
    text-align: right;
}

.invoice-title {
    text-align: center;
    font-size: 22px;
    margin-top: 60px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.invoice-wrapper {
    min-height: 300px;
}

.customer-wrapper {
    padding: 20px 0;
}

.items-wrapper {
    background: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    padding: 5px;
}

.dataError {
    display: flex;
    margin: 10px 0;
    padding: 5px;
    background: #ffd9d9;
    border-radius: 4px;
    border: 1px solid #f00;
}